<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <style>
       
     @font-face 
    {
        font-family: 'MainFont';
        src: url('/assets/gsc.ttf'); 
    }
    
    body 
    {
        
      font-family:'MainFont' ;
    }
    
    .copyright
    {
       
    color: rgba(255, 255, 255, 0.5); 
    position: absolute;
        
    left: 35%;
    right: 35%;
    top: 90%;
    width: 30%;
    
    text-align: center;
    font-size: 12px;
        
    }
        

   </style>

    </head>
    
    <body class="main_logo">
       
        <div>
            <image class="font_logo" src="/assets/logo.png"> </image>
        </div>
    <div class="cente main_text rounded">
        <p class="main_button">
            <button type="button" class="bttn" onclick="location.href='/projects'" >게임 실행</button>
        </p>
        

        <p class="main_button">
            <button type="button" class="bttn" onclick="location.href='/users/sign_up'">회원 가입</button>
        </p>

            
    </div>
     <span class="copyright">@CopyRight 2018. TeamBuilding all rights reserved.</span>
    </body>
</html>