.html{ 
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.center{
    margin: 0 auto;
    
   
    /*border:1px solid white;*/
    width:1250px;
    height:500px;
    padding:50px;
   
    text-align: center;
    
}

.questImage{
    margin: 0 auto;
    position:relative;
    width:556px;
    height:720px;
    padding:40px;
    padding-top:10px;
    margin-top:0;
    text-align: center;
    background-image: url("/assets/9_quest.png");
    background-size: auto 100%;
}
.title{
    font-size:38px;
    text-align:center;
    margin-top:17%;
    margin-left:2%;
    width: 70%;
    color:#66472A;
}
.create_flow_2{
     overflow:auto;
     white-space:nowrap;
     height:330px;
     width:430px;
}


.board{
   
    width:450px;
    height:365px;
    margin-top:55px;
    margin-left:20px;
    margin-bottom:0;
    padding:10px;
    padding-bottom:0;
}
.board_2{
    float:left;
    margin: 10px;
   
}

.connect_btn{
    background: url(/assets/2_email_title.png);
    background-size: 100px 40px;
    border: none;
    width: 100px;
    height: 40px;
    /*z-index: 1;*/
    padding: 0;
    color: white;
    font-size:18px;
    margin-top: 5px;
}
.text_e23{
    font-size:28px;
}