

.profile{
    position: relative;
    text-align:center;
    /*border:1px solid white;*/
    /*margin: 10px;*/
    margin-left: -10%;
    margin-top: 6%;
    /*margin:0 auto;*/
    float:left;
    padding: 10px;
    color:white;
    width:20%;
    /*height:100%;*/
    font-size: 20px;
    border-radius:15px;
    /*position: relative;*/
}
.logo_div{
    width:100%;
    height: 70px;
    margin-bottom: 15px;
    padding:0;
    padding-top: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 45px;
    color: white;
    /*background-color: white;*/
}

.log{
    position: relative;
    /*display: inline-block;*/
    float:left;
    /*margin:0 auto;*/
    margin-left: 2%;
    margin-top: 1%;
    width:10%;
    height:10%;
    /*display: inline;    */
}

.popup{
    /*background: url(/assets/popup.png) no-repeat center center fixed;*/
    /*background-size: 148px auto;*/
    float:left;
    width:150px;
    height:150px;
    margin: 0 auto;
}

.banner_menu{
    width:90%;
    height: 80px;
    text-align:center;
}

.banner_1{
    background: url(/assets/4_banner_1.png);
    background-size: 200px 50px;
    border: none;
    width: 200px;
    height: 50px;
    /*z-index: 1;*/
    /*padding-top: 5px;*/
    color: white;
    margin-left: -10px;
    /*margin-top: 5px;*/
    font-size: 20px;
}
.banner_1:hover,.banner_2:hover,.banner_3:hover{
    color:gray;
}
.menu1,.menu2,.menu3{
    display:inline-block;
    margin-right: 25px;
    margin-left: 25px;
    /*float: left;*/
}

.banner_2{
    background: url(/assets/4_banner_2.png);
    background-size: 200px 50px;
    border: none;
    width: 200px;
    height: 50px;
    /*z-index: 1;*/
    /*padding-top: 5px;*/
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
    
}


.banner_3{
    background: url(/assets/4_banner_3.png);
    background-size: 200px 50px;
    border: none;
    width: 200px;
    height: 50px;
    /*z-index: 1;*/
    /*padding-top: 5px;*/
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
    
}



.pro_sh{
    background: url(/assets/popup.png); 
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
    /*max-width:100%;*/
    /*height:150px;*/
    z-index: 1;
    margin: 0 auto;
    padding: 0;
}

.popup .pro_sh h2{
    z-index: 2;
    text-align: center;
    vertical-align: center;
}


.project{
    text-align:center;
    /*border:1px solid white;*/
    margin-top: 80px;
    margin-left:50px;
    font-size: 20px;
    /*margin-top: 3%;*/
    float:left;
    color:#BFBFBF;
    width:900px;
    height:300px;
    min-height:300px;
    padding-left: 10px;
    max-width:900px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    
}

.menu{
    
    color:#BFBFBF;
    margin-left:35%;
    background: url(/assets/2_main_text.png);
    background-size:cover;
   
    
    
}



.popup h3{
    position:static;
    text-align:center;
    margin-bottom: 5px;
    z-index:2;
}

.plus {
    background-color:white; border-radius:40px;
    position:relative;
    width:60px;
    height:60px;
    z-index:3;
    
    margin-top:5%;
    margin-bottom:20%;
}

.project .all_btn{
    margin-top: auto;
}
.create{
    background: url(/assets/popup.png);
    background-size: 250px 250px;
    width:250px;
    height:250px;
    padding-top: 10px;
    text-align: center;
    margin:20px;
    margin-left: 25px;
    margin-right:10px;
    float:left;
    margin-bottom:10px;
}

.bold_name{
    font-weight: bold;
    color:black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.profile h3{
    margin: 4px;
}

.mbti_img{
    background: url(/assets/curtain.png);
    width:160px;
    height:255px;
    background-size: 160px 255px;
    margin:0 auto;
    margin-bottom: 8px;
}

.mbti_chr_div{
    width:220px; height:340px;
    padding-top: 195px;
    margin: 0 auto;
}
.mbti_chr{
    width:120px; height:120px;
    margin: 0 auto;
}

.create_flow{
     overflow:auto;
     white-space:nowrap;
     height:300px;
     width:600px;
}
.create_flow_small{
     overflow:auto;
     white-space:nowrap;
     margin:30px;
     margin-left:50px;
     height:110px;
     width:150px;
     
}

.a{
    text-decoration:none;
    color:white;
}
.a:hover{
    color:gray;
    text-decoration:none;
}
