.su h2,p{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

span{
    font-size: 24px;
}


.su{
    text-align: center;
    color: white;
}

.gotest{
    width: 220px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    border-radius: 5px;
    text-align:center;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

.su_margin
{
    margin-top:5%;
}

.su_top{
    background: url(/assets/2_main_text.png); 
    width: 100%;
    height: 80px;
    line-height:80px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    /*margin-top: 8%;*/
}
.bigbig{
    font-size: 30px;
}

.connect_btn{
    background: url(/assets/2_email_title.png);
    background-size: 100px 40px;
    border: none;
    width: 100px;
    height: 40px;
    /*z-index: 1;*/
    padding: 0;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
}

.btn_mini:hover
{
    color: gray;
    cursor: pointer;
}

.connect_btn:hover
{
    color: gray;
    cursor: pointer;
}

.all_btn{
    background: url(/assets/2_email_title.png);
    background-size: 100px 40px;
    border: none;
    width: 100px;
    height: 40px;
    /*z-index: 1;*/
    padding-top: 5px;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
}

.all_btn:hover
{
    color: gray;
    cursor: pointer;
}

.btn_mini{
    background: url(/assets/2_email_title.png);
    background-size: 90px 30px;
    border: none;
    width: 90px;
    height: 30px;
    /*z-index: 1;*/
    margin: 0 auto;
    padding: 0;
    color: white;
}