/*.form-control{*/
/*    width:195px;*/
/*    height:45px;*/
/*    font-size:26px;*/
/*    color:#66472A;*/
/*    background-color:transparent;*/
/*    border:0px;*/
/*}*/

.new_form_control {
    margin-top:20%;
    text-align: center;
    font-weight:bold;
    border:0;
    width:195px;
    height:45px;
    font-size:26px;
    color:#66472A;
    background-color:transparent;
}
.new_form_goal{
    width:425px;
    height:100px;
    font-size:18px;
    margin-top:13%;
    /*margin-left:5%;*/
    background:url(/assets/new_1.png);
    background-size:425px 100px;
    border:0;
    text-align: center;
    color:#BFBFBF;
}
.form-people_total{
    margin-top:1%;
    /*margin-right:50%;*/
    /*margin-right:8px;*/
    height:40px;
    width:210px;
    text-align: center;
    background:url(/assets/new_2.png);
    background-size:210px 40px;
    background-position: center;
    border:0;

}

.form-people{
    /*margin-left:50%;*/
    height:40px;
    width:210px;
    text-align: center;
    background:url(/assets/new_2.png);
    background-size:210px 40px;
    background-position: center;
    border:0;

    
}

.mold h3, .mold h4{
     color:white;
     text-shadow: -2px 0 #66472A, 0 2px #66472A, 2px 0 #66472A, 0 -2px #66472A;
}

.form-deadline{
    margin-top:1%;
    /*margin-right:50%;*/
    height:40px;
    width:210px;
    text-align: center;
    background:url(/assets/new_2.png);
    background-size:210px 40px;
    background-position:center;
    border:0;
   
}
.form-role{
    height:40px;
    width:210px;
    text-align: center;
    background:url(/assets/new_2.png);
    background-size:210px 40px;
    background-position:center;
    border:0;
    
}
.form-role_detail{
    margin-bottom:5px;
    margin-right:2px;
    width:210px;
    height:35px;
    text-align: center;
    background:url(/assets/new_3.png);
    background-size:210px 35px;
    background-position:center;
    color:#BFBFBF;
    background-color:transparent;
    font-size:18px;
    border:0;
        
}

.imgUPLOAD{
    width:420px;
    height:50px;
    font-size:10px;
    background-color: rgba(255,255,255,0.2);
    border:0;
    border-radius: 5px;
    margin: 0 auto;
    margin-top:1%;
    text-align: center;
    color:#66472A;
    padding-left:15px;
    padding-bottom: 3px;
}

.imgUPLOAD h4{
    color:#66472A;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}