.table_background{
    background: url('/assets/8_team_design_background.png') no-repeat;
    background-size: 800px 550px;
    
}
.notice_table{
    margin:5% auto;
    margin-bottom:0;
    color:white;
    width:800px;
    height:550px;
    text-align:center;
    
    padding-top:50px;
    padding-left: 5%;
    
    text-align:center;
    border: 4px solid #71480A;
}

.notice_table tr{
   
    border: 4px solid #71480A;
}


.notice_table th{
    border: 4px solid #71480A;
	width: 120px;
	
    
}

.notice_member{
    background-color: rgba(0,0,0,0.2);
    border-radius:5px;
    width: 120px;
    height: 200px;
    float:left;
    margin:0 auto;
    margin-right: 10px;
    margin-bottom: 5px;
}

.notice_img{
    margin: 0 auto;
    width: 120px; height: 120px;
}

.notice_div .flow{
     overflow:auto;
     white-space:nowrap;
     height:700px;
     width:400px;
}

.notice_div{
    margin: 0 auto;
    width: 650px;
    height: 500px;
}
