.center{
    margin: 0 auto;
    margin-top:50px;
    margin-left: 10px;
    /*border:1px solid white;*/
    width:1250px;
    height:500px;
    padding:20px;
    padding-top:30px;
    text-align: center;
    
    
}
.form1{
    text-align:center;
    padding:20px;
    color:white;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 530px;
    height:200px;
    margin: 15px;
    font-size:25px;
    float:left;
    border-radius:15px;
    
}
.form2{
    text-align:center;
    font-size:18px;
    color:black;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 220px;
    height:200px;
    margin: 15px;
    
    float:left;
    border-radius:15px;
    
}
.img{
    background-color: lightblue;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 350px;
    height:350px;
    border-radius:170px;
    margin: 20px;
    
    float:left;
    
}
.title{
    font-size:38px;
    text-align:center;
    margin-top:17%;
    margin-left:2%;
    width: 70%;
    color:#2A1B0A;
}

.a,.gomain{
    text-align: center;
    font-size:20px;
    margin:10px;
   
    
}
.questImage{
    margin: 0 auto;
    
    width:556px;
    height:720px;
    padding:40px;
    padding-top:10px;
    margin-top:0;
    text-align: center;
    background-image: url("/assets/7_quest.png");
    background-size: auto 100%;
}
.text_1{
    margin-top:15%;
    
}
.text_2{
    margin-top:5%;
    
}