.center{
    margin: 0 auto;
    /*margin-top:50px;*/
    margin-left: 10px;
    /*border:1px solid white;*/
    width:1250px;
    height:500px;
    padding:20px;
    /*padding-top:30px;*/
    text-align: center;
    
    
}
.form1{
    text-align:center;
    padding:20px;
    color:white;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 530px;
    height:200px;
    margin: 15px;
    font-size:25px;
    float:left;
    border-radius:15px;
    
}
.form2{
    text-align:center;
    font-size:18px;
    color:black;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 220px;
    height:200px;
    margin: 15px;
    
    float:left;
    border-radius:15px;
    
}


.banner_1{
    background: url(/assets/4_banner_1.png);
    background-size: 200px 50px;
    border: none;
    width: 200px;
    height: 50px;
    /*z-index: 1;*/
    padding-top: 5px;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
}

.banner_2{
    background: url(/assets/4_banner_2.png);
    background-size: 200px 50px;
    border: none;
    width: 200px;
    height: 50px;
    /*z-index: 1;*/
    padding-top: 5px;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
}

.menu_div{
    /*width:100%;*/
    /*height: 50px;*/
    /*background-color: white;*/
}

.banner_3{
    background: url(/assets/4_banner_3.png);
    background-size: 200px 50px;
    border: none;
    width: 200px;
    height: 50px;
    /*z-index: 1;*/
    padding-top: 5px;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
}


.img{
    background-color: lightblue;
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 350px;
    height:350px;
    border-radius:170px;
    margin: 20px;
    
    float:left;
    
}
.title{
    font-size:38px;
    text-align:center;
    margin-top:17%;
    margin-left:2%;
    width: 70%;
    color:#66472A;
    font-weight:bold;
}

.a,.gomain{
    text-align: center;
    font-size:20px;
    margin:10px;
   
    
}
.questImage{
    margin: 0 auto;
    position:relative;
    width:556px;
    height:720px;
    padding:40px;
    padding-top:10px;
    margin-top:0;
    text-align: center;
    background-image: url("/assets/7_quest.png");
    background-size: auto 100%;
}
.form_goal {
    margin-top:15%;
    margin-left:8%;
    width:400px;
    height:50px;
    background:url(/assets/show_1.png);
    background-size:400px 50px;
    background-position:center;
    color:#BFBFBF;
    font-size:18px;
    text-align:center;
    padding-top: 10px;
    
}
.form_deadline {
    margin-top:0;
    margin-left:8%;
    width:400px;
    height:50px;
    background:url(/assets/show_1.png);
    background-size:400px 50px;
    background-position: center;
    color:#BFBFBF;
    padding-top:10px;
    font-size:18px;
    text-align:center;
    
}

.text_2{
    margin-left:8%;
    width:400px;
    height:200px;
    background:url(/assets/show_2.png);
    background-size:400px 200px;
    background-position: center;
    color:#BFBFBF;
    font-size:18px;
    text-align:center;
    padding: 20px;
    
}


.text_3{
    margin-top:0;
    margin-left:8%;
    width:400px;
    height:30px;
    background:url(/assets/show_1.png);
    background-size:400px 30px;
    background-position: center;
    color:#BFBFBF;
    font-size:18px;
    text-align:center;
}
.connect_building{
     height:40px;
     width:150px;
     margin-left:35%;
     font-size:18px;
     background:url(/assets/7_hope.png);
     background-size:cover;
     background-position:center;
     border:0;
}


/*프로젝트 평가*/
.questImage_e1{
    margin: 0 auto;
    position: absolute;
    width:556px;
    height:720px;
    padding:40px;
    padding-top:10px;
    margin-top:0;
    text-align: center;
    background-image: url("/assets/7_quest.png");
    background-size: auto 100%;
}


/*팀원평가*/
.questImage_e2{
    margin: 600px;
    position: relative;
    width:556px;
    height:720px;
    padding:40px;
    
    padding-top:10px;
    margin-top:0;
    text-align: center;
    background-image: url("/assets/7_quest.png");
    background-size: auto 100%;
    background-position: right;
}



/*별점 기능*/
.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
  
}
.starR.on{background-position:0 0;}






.text{
    
    margin:20px;
    display:block;
    margin-top: 200px;
    
    
}


.character{
    
    margin-bottom: 50px;
    
}

